<div class="container">
    <div class="row">
        <h2>Login</h2>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <form>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" placeholder="Enter email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" placeholder="Enter password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" (click)="login()">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
